:root {
  --green-emphasis: #81FE88;
/*--font: */
  --green-dark: #132E35;
  --graphite: #01080E;
  --grey-dark: #171D1F;
  --grey-medium: #888888;
  --grey: #3E3E3F;
  --grey-light: #D7E0E5;
  --off-white: #e1e1e1;
  --white: #FFFFFF;
  --blue-soft: #9CD6FF;
  --blue-emphasis: #0078FF;
  --black: #000000;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}